@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-dancing-script: var(--font-dancing-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrollbars from falling snow */
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateY(110vh) translateX(20px);
    opacity: 0.3;
  }
}

.snowflake {
  position: absolute;
  top: -10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation-name: fall;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 50;
  pointer-events: none;
  filter: blur(1px);
}